extends layout
block header
  h1= header
block content
  h2 Événements et rôles disponibles
  table(style="text-align: center")
    thead
      tr
        th Nom
        th Début
        th Nombre de jours
        th Département
        th Ville
        th Type d'événement
        th Rôle
        th Type de rôle
    tbody
      each event in eventrolelist
        tr
          td= event._event.name
          td= event._event.date
          td= event._event.numberDays
          td= event._event.department
          td= event._event.city
          td= event._event._eventType.type
          td= event._role.name
          td= event._role._roleType.type
          td
            form(action='/updateEvent/'+event._event._id+'&'+event._role._id+'&'+event._id, method='get')
              input(type='submit', value='update')
          td
            <!-- button(onclick="deleteEvent('"+event._event._id+"')") delete -->
            button(onclick="deleteEventAndRole('"+event._event._id+"','"+event._role._id+"','"+event._id+"')") Delete
            